:root {
  --color-primary-120: 123 102 81;
  --color-primary-100: 191 157 125;
  --color-primary-80: 208 183 159;
  --color-primary-60: 225 209 194;
  --color-primary-40: 241 234 228;
  --color-primary-tint: 250 247 245;
  --color-success-120: 41 159 101;
  --color-success-100: 82 221 126;
  --color-success-20: 188 251 189;
  --color-success-10: 232 254 231;
  --color-info-120: 29 102 172;
  --color-info-100: 59 173 239;
  --color-info-20: 177 239 253;
  --color-info-10: 230 251 254;
  --color-error-120: 194 37 56;
  --color-error-100: 218 62 81;
  --color-error-20: 245 204 209;
  --color-error-10: 253 236 239;
  --color-netural-background: 20 15 10;
  --color-netural-100: 0 0 0;
  --color-netural-80: 75 75 75;
  --color-netural-60: 144 144 144;
  --color-netural-40: 236 236 236;
  --color-netural-10: 249 249 249;
  --color-netural-0: 255 255 255;
}
